.login_bg{
    background-image: url("../assets/loginPageBg.jpg");
    height: 89vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}